
.section {
  position: relative;
  background-color: #F8F8F8;
}

.figure {
  position: absolute;
  z-index: 1;
  bottom: -3px;
  right: 0;
  min-height: 600px;
  width: 700px;
  background: url('../../assets/image/home2.png') right bottom / contain no-repeat ;
  box-shadow: inset 40px 20px 100px 1px #f8f8f8a1;
  border-top-left-radius: 45%;
  transition: all 0.5s linear;
}

.logo {
  color: black;
}

.description {
  font-size: 1.5vw;
}

@media screen and (max-width: 1200px) {
  figure {
    width: 600px;
  }
}

@media screen and (max-width: 992px) {
  .figure {
    max-width: 500px;
  }
}

@media screen and (max-width: 768px) {
  .figure {
    max-width: 450px;
  }

  .logo {
    font-size: 65px; 
  }  

  .description {
    font-size: 13px;
  }
  
}
