
.landing_btns {
  border: 3px solid black;
  width: 160px;
  font-size: 18px;
  text-decoration: none;
  color:black;
  padding: 15px 40px;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  border-radius: 15px;
}

.glow_button:hover {
  border: 3px solid black;
  box-shadow: 0px 15px 30px rgba(14, 1, 24, 0.4);
  background-color: black;
  color: #f8f8f8;
}