.view_shadow {
  box-shadow: 0px 10px 20px rgba(14, 1, 24, 0.226);
}

.margin_100 {
  margin-top: 100px;
}

.view_container {
  min-height: calc(100vh - 100px);
}

.view_img_container {
  height: 300px;
  width: 400px;
}

.view_img_container > img {
  object-fit: cover;
}

.view_img_description {
  height: 400px;
  overflow-y: auto;
}