.aside {
  box-shadow: 0px 10px 20px rgba(14, 1, 24, 0.4);
  border-radius: 15px;
  background: #f8f8f8;
}

.sidebar_sections {
}

.sidebar_sections > div {
  max-height: 200px;
  overflow-y: auto;
}

.sidebar_sections > h5 {
  background-color: #000000;
  color: white;
  border-bottom: 1px solid black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

@media screen and (max-width: 768px) {
  .sidebar_sections > div {
    max-height: 100px;
  }
}